S3method(coef,parboost)
S3method(predict,parboost)
S3method(print,parboost)
S3method(print,summary.parboost)
S3method(selected,parboost)
S3method(summary,parboost)
export(parboost)
import(iterators)
import(parallel)
importFrom(caret,createFolds)
importFrom(caret,createResample)
importFrom(doParallel,registerDoParallel)
importFrom(glmnet,cv.glmnet)
importFrom(mboost,blackboost)
importFrom(mboost,mboost)
importFrom(mboost,selected)
importFrom(party,ctree_control)
importFrom(plyr,laply)
